@font-face {
    font-family: cotton;
    src: url(../fonts/cotton.ttf);
}
@font-face {
    font-family: bubble_thin;
    src: url(../fonts/Bubbleboddy-ExtraLightTrial.ttf);
}
@font-face {
    font-family: bubble;
    src: url(../fonts/Bubbleboddy-FatTrial.ttf);
}

:root {
    --minus_color: rgb(252, 168, 142);
    --plus_color: rgb(108, 200, 203);
    --primary-color: rgb(108, 200, 203);
    --gradient: linear-gradient(90deg, rgba(108,200,203,1) 0%, rgba(252,168,142,1) 100%);
}

body {
    height: 100vh;
    margin: 0px;
}

#container-header-outer{
  width: 100%;
}

#container-header{
    z-index: 3;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 81px;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 4px 4px 10px #0a0a0a20;
}

#header_title {
    align-self: center;
    justify-self: center;
    color: white;
    font-family: bubble;
    font-size: 35px;
}

#logo {
    justify-self: center;
    align-self: center;
    font-family: bubble_thin;
    color: white;
    font-size: 22px;
}

/*input-container*/

#body-container {
    display: grid;
    height: calc(100% - 81px);
    grid-template-rows: 1.5fr 2fr;
}

#input-container-outer {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

#input-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 80vw;
    height: 6vh;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 4px;
    color: whitesmoke;
    padding: 2vh;
    box-shadow:  -2px 3px 5px rgb(65 65 65 / 50%) inset;
  
}

#input-field {
    justify-self: right;
    padding-right: 10px;
    font-size: 40px;
    
}

.money_icon {
    justify-self: center;
    font-size: 25px;
}

.number_remover {
    font-size: 18px;
}

.notiz-block {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 2vh;
    width: 80vw;
}

#note {
    outline: none;
    border: none;
    padding-left: 10px;
    font-size: 16px;
}

.fas.fa-pen-nib {
    font-size: 16px;
    color: var(--primary-color);
}

/*Nummern Block*/

#number-container-outer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

#number-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
   width: calc(100% - 20px);
    justify-self: center;
    height: 70%;
    align-self: center;
}

.number-container-item {
    font-size: 30px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#motto {
    justify-self: center;
    align-self: center;
    background-image: var(--gradient);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

/*Popup*/

#PopUpName{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.795);
    display: none;
}

#inner{
    max-width: 400px;
    height: fit-content;
    width: 90vw;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    flex-direction: column;
    background: var(--gradient);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 4px 4px 10px #292929;
}

#popUpInner {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    justify-items: center;
  
    color: white;
    border-radius: 4px;
    padding: 10px;
    font-family: animeital;
    font-size: 21px;
    box-shadow: 4px 4px 10px #292929;
    max-height: 20vh;
    overflow: scroll;
}

.cateItem {
    display: block;
    text-align: center;
}

.category {
    padding: 2vh;
}

#submitButton{
    margin-top: 20px;
    grid-row-start: 2;
    grid-column-start: 3;
    background-color: #404040;
    box-shadow: 4px 4px 10px #292929;
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
    border:none;
    border-radius: 4px;
    font-size: 21px;
    font-family: animebld;
}

#closingButton{
    margin-top: 20px;
    grid-row-start: 2;
    grid-column-start: 1;
    background-color: #404040;
    box-shadow: 4px 4px 10px #292929;
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
    border:none;
    border-radius: 4px;
    font-size: 21px;
    font-family: animebld;
}